@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: antiquewhite;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 207, 130);
}